<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>136781534517-78cgpg90qcsips7vf6c6f4qu09cmk29f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136781534517-78cgpg90qcsips7vf6c6f4qu09cmk29f</string>
	<key>API_KEY</key>
	<string>AIzaSyAQfpuQkWBCMF0eDP2R_l1a68NaEZ1zAIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>136781534517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.googleMaps</string>
	<key>PROJECT_ID</key>
	<string>learning--maps-58772</string>
	<key>STORAGE_BUCKET</key>
	<string>learning--maps-58772.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136781534517:ios:9ecd83407673401c84a87c</string>
</dict>
</plist>